In [30]:
import pandas as pd
import polars as pl
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_squared_error, r2_score

In [3]:
df = pl.read_csv("HousePricePrediction.csv")

In [4]:
df.head()

shape: (5, 10)
┌──────────┬─────┬──────┬──────────┬───┬──────────┬────────────┬────────────────┬────────┐
│ status   ┆ bed ┆ bath ┆ acre_lot ┆ … ┆ zip_code ┆ house_size ┆ prev_sold_date ┆ price  │
│ ---      ┆ --- ┆ ---  ┆ ---      ┆   ┆ ---      ┆ ---        ┆ ---            ┆ ---    │
│ str      ┆ i64 ┆ i64  ┆ f64      ┆   ┆ i64      ┆ i64        ┆ str            ┆ i64    │
╞══════════╪═════╪══════╪══════════╪═══╪══════════╪════════════╪════════════════╪════════╡
│ for_sale ┆ 3   ┆ 2    ┆ 0.12     ┆ … ┆ 601      ┆ 920        ┆ null           ┆ 105000 │
│ for_sale ┆ 4   ┆ 2    ┆ 0.08     ┆ … ┆ 601      ┆ 1527       ┆ null           ┆ 80000  │
│ for_sale ┆ 2   ┆ 1    ┆ 0.15     ┆ … ┆ 795      ┆ 748        ┆ null           ┆ 67000  │
│ for_sale ┆ 4   ┆ 2    ┆ 0.1      ┆ … ┆ 731      ┆ 1800       ┆ null           ┆ 145000 │
│ for_sale ┆ 6   ┆ 2    ┆ 0.05     ┆ … ┆ 680      ┆ null       ┆ null           ┆ 65000  │
└──────────┴─────┴──────┴──────────┴───┴──────────┴────────────┴────────────────┴────────┘

In [6]:
print(df.describe())

shape: (9, 11)
┌────────────┬───────────┬──────────┬──────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ status    ┆ bed      ┆ bath     ┆ … ┆ zip_code  ┆ house_siz ┆ prev_sold ┆ price     │
│ ---        ┆ ---       ┆ ---      ┆ ---      ┆   ┆ ---       ┆ e         ┆ _date     ┆ ---       │
│ str        ┆ str       ┆ f64      ┆ f64      ┆   ┆ f64       ┆ ---       ┆ ---       ┆ f64       │
│            ┆           ┆          ┆          ┆   ┆           ┆ f64       ┆ str       ┆           │
╞════════════╪═══════════╪══════════╪══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 904966    ┆ 775126.0 ┆ 791082.0 ┆ … ┆ 904762.0  ┆ 612080.0  ┆ 445865    ┆ 904895.0  │
│ null_count ┆ 0         ┆ 129840.0 ┆ 113884.0 ┆ … ┆ 204.0     ┆ 292886.0  ┆ 459101    ┆ 71.0      │
│ mean       ┆ null      ┆ 3.33219  ┆ 2.484236 ┆ … ┆ 6519.4645 ┆ 2138.4366 ┆ null      ┆ 877438.15 │
│            ┆           ┆          ┆          ┆   ┆ 82        ┆ 67        ┆           ┆ 8334      │
│ std        ┆ null      ┆ 2.065312 ┆ 1.931622 ┆ … ┆ 3816.7130 ┆ 3046.5995 ┆ null      ┆ 2.4577e6  │
│            ┆           ┆          ┆          ┆   ┆ 93        ┆ 97        ┆           ┆           │
│ min        ┆ for_sale  ┆ 1.0      ┆ 1.0      ┆ … ┆ 601.0     ┆ 100.0     ┆ 1/1/1901  ┆ 0.0       │
│ 25%        ┆ null      ┆ 2.0      ┆ 2.0      ┆ … ┆ 2908.0    ┆ 1132.0    ┆ null      ┆ 268500.0  │
│ 50%        ┆ null      ┆ 3.0      ┆ 2.0      ┆ … ┆ 6811.0    ┆ 1650.0    ┆ null      ┆ 475000.0  │
│ 75%        ┆ null      ┆ 4.0      ┆ 3.0      ┆ … ┆ 8854.0    ┆ 2495.0    ┆ null      ┆ 830000.0  │
│ max        ┆ ready_to_ ┆ 123.0    ┆ 198.0    ┆ … ┆ 99999.0   ┆ 1.450112e ┆ 9/9/2021  ┆ 8.75e8    │
│            ┆ build     ┆          ┆          ┆   ┆           ┆ 6         ┆           ┆           │
└────────────┴───────────┴──────────┴──────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [8]:
df = df.drop_nulls()

In [26]:
# Get the list of columns with string dtype
string_columns = [col for col in df.columns if df[col].dtype == pl.Utf8]

# Drop the original string columns
df = df.drop(string_columns)

In [27]:
df.head()

shape: (5, 6)
┌─────┬──────┬──────────┬──────────┬────────────┬────────┐
│ bed ┆ bath ┆ acre_lot ┆ zip_code ┆ house_size ┆ price  │
│ --- ┆ ---  ┆ ---      ┆ ---      ┆ ---        ┆ ---    │
│ i64 ┆ i64  ┆ f64      ┆ i64      ┆ i64        ┆ i64    │
╞═════╪══════╪══════════╪══════════╪════════════╪════════╡
│ 7   ┆ 3    ┆ 0.09     ┆ 949      ┆ 1192       ┆ 110000 │
│ 7   ┆ 3    ┆ 0.09     ┆ 949      ┆ 1192       ┆ 110000 │
│ 7   ┆ 3    ┆ 0.09     ┆ 949      ┆ 1192       ┆ 110000 │
│ 7   ┆ 3    ┆ 0.09     ┆ 949      ┆ 1192       ┆ 110000 │
│ 7   ┆ 3    ┆ 0.09     ┆ 949      ┆ 1192       ┆ 110000 │
└─────┴──────┴──────────┴──────────┴────────────┴────────┘

In [31]:
# Get the list of columns with string dtype
string_columns = [col for col in df.columns if df[col].dtype == pl.Utf8]

# Create dummy variables for string columns
for col in string_columns:
    unique_values = df[col].unique()
    for val in unique_values:
        df[val] = (df[col] == val).then_else(pl.lit(1), pl.lit(0))

# Drop the original string columns
df = df.drop(string_columns)

# Define the features (X) and target (y)
X = df.drop("price").to_numpy()
y = df["price"].to_numpy()

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and fit the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Print the intercept and coefficients
print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)

# Predict on the test set
y_pred = model.predict(X_test)

# Compute the mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

# Compute the R-squared score
score = r2_score(y_test, y_pred)
print("R-squared Score:", score)

Intercept: -433553.0769208628
Coefficients: [-7.27828880e+04  4.61638265e+05  9.23169093e+00 -4.04800945e+00
  1.10199889e+02]
Mean Squared Error: 1244305776778.698
R-squared Score: 0.3042027411827608